body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    line-height: 1.6;
}

header {
    background-color: black;
    color: black;
    padding: 12px 0;
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
}

nav ul li a:hover {
    background-color: #7f0000;
    color: #fff;
    border-radius: 4px;

}

main {
    max-width: 1000px;
    margin: 24px auto;
    padding: 18px;
    background-color: #111214;
    border-radius: 8px;

}